DWMS_OCR/Web References/AcceptDocWebRef/BE01JAcceptDoc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns3="http://dto.filing.be01.hdb.gov.sg" xmlns:intf="http://ejb.be01.hdb.gov.sg" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:tns2="http://dto.service.web.be01.hdb.gov.sg" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns4="http://dto.enq.be01.hdb.gov.sg" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:impl="http://ejb.be01.hdb.gov.sg" targetNamespace="http://ejb.be01.hdb.gov.sg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.service.web.be01.hdb.gov.sg">
      <xsd:complexType name="BE01JAuthenticationDTO">
        <xsd:sequence>
          <xsd:element name="userName" nillable="true" type="xsd:string" />
          <xsd:element name="passWord" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JSystemInfoDTO">
        <xsd:sequence>
          <xsd:element name="updateSystemId" nillable="true" type="xsd:string" />
          <xsd:element name="updateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="updateTime" nillable="true" type="xsd:dateTime" />
          <xsd:element name="fileSystemId" nillable="true" type="xsd:string" />
          <xsd:element name="fileDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="verificationUserId" nillable="true" type="xsd:string" />
          <xsd:element name="completenessUserId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JBusinessInfoDTO">
        <xsd:sequence>
          <xsd:element name="businessTransactionNumber" nillable="true" type="xsd:string" />
          <xsd:element name="businessRefNumber" nillable="true" type="xsd:string" />
          <xsd:element name="customerInfoList" nillable="true" type="tns2:ArrayOfBE01JCustomerInfoDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JCustomerInfoDTO">
        <xsd:sequence>
          <xsd:element name="customerIdFromSource" nillable="true" type="xsd:string" />
          <xsd:element name="identityNo" nillable="true" type="xsd:string" />
          <xsd:element name="identityType" nillable="true" type="xsd:string" />
          <xsd:element name="customerName" nillable="true" type="xsd:string" />
          <xsd:element name="docCounter" type="xsd:int" />
          <xsd:element name="documentInfoList" nillable="true" type="tns2:ArrayOfBE01JDocumentInfoDTO" />
          <xsd:element name="customerType" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JDocumentInfoDTO">
        <xsd:sequence>
          <xsd:element name="docId" nillable="true" type="xsd:string" />
          <xsd:element name="docIdSub" nillable="true" type="xsd:string" />
          <xsd:element name="docDescription" nillable="true" type="xsd:string" />
          <xsd:element name="docStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="docEndDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="identityNoSub" nillable="true" type="xsd:string" />
          <xsd:element name="customerIdSubFromSource" nillable="true" type="xsd:string" />
          <xsd:element name="imageInfoList" nillable="true" type="tns2:ArrayOfBE01JImageInfoDTO" />
          <xsd:element name="docChannel" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JImageInfoDTO">
        <xsd:sequence>
          <xsd:element name="imageUrl" nillable="true" type="xsd:string" />
          <xsd:element name="imageName" nillable="true" type="xsd:string" />
          <xsd:element name="imageSize" nillable="true" type="xsd:string" />
          <xsd:element name="docRecievedSourceDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="cmDocumentId" nillable="true" type="xsd:string" />
          <xsd:element name="certificateNumber" nillable="true" type="xsd:string" />
          <xsd:element name="certificateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="personInfoList" nillable="true" type="tns2:ArrayOfBE01JPersonIdentityInfoDTO" />
          <xsd:element name="vrfdWithOriginal" type="xsd:boolean" />
          <xsd:element name="imageCondition" nillable="true" type="xsd:string" />
          <xsd:element name="dwmsDocumentId" nillable="true" type="xsd:string" />
          <xsd:element name="localForeign" nillable="true" type="xsd:string" />
          <xsd:element name="marriageType" nillable="true" type="xsd:string" />
          <xsd:element name="imageAccepted" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JPersonIdentityInfoDTO">
        <xsd:sequence>
          <xsd:element name="customerIdFromSource" nillable="true" type="xsd:string" />
          <xsd:element name="identityNo" nillable="true" type="xsd:string" />
          <xsd:element name="identityType" nillable="true" type="xsd:string" />
          <xsd:element name="customerName" nillable="true" type="xsd:string" />
          <xsd:element name="personInfo" nillable="true" type="tns2:BE01JPersonInfoDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JPersonInfoDTO">
        <xsd:sequence>
          <xsd:element name="identityNo" nillable="true" type="xsd:string" />
          <xsd:element name="identityType" nillable="true" type="xsd:string" />
          <xsd:element name="customerName" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01JPersonIdentityInfoDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01JPersonIdentityInfoDTO" nillable="true" type="tns2:BE01JPersonIdentityInfoDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01JImageInfoDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01JImageInfoDTO" nillable="true" type="tns2:BE01JImageInfoDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01JDocumentInfoDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01JDocumentInfoDTO" nillable="true" type="tns2:BE01JDocumentInfoDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01JCustomerInfoDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01JCustomerInfoDTO" nillable="true" type="tns2:BE01JCustomerInfoDTO" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ejb.be01.hdb.gov.sg">
      <xsd:import namespace="http://dto.enq.be01.hdb.gov.sg" />
      <xsd:import namespace="http://dto.filing.be01.hdb.gov.sg" />
      <xsd:import namespace="http://dto.service.web.be01.hdb.gov.sg" />
      <xsd:element name="acceptDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="acceptDocumentReturn" nillable="true" type="tns3:BE01JOutputDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lockDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="authentication" nillable="true" type="tns2:BE01JAuthenticationDTO" />
            <xsd:element name="systemDTO" nillable="true" type="tns2:BE01JSystemInfoDTO" />
            <xsd:element name="businessDTO" nillable="true" type="tns2:BE01JBusinessInfoDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lockDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lockDocumentReturn" nillable="true" type="tns3:BE01JOutputDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enquireAcceptDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="authentication" nillable="true" type="tns2:BE01JAuthenticationDTO" />
            <xsd:element name="acceptEnqInput" nillable="true" type="tns4:BE01JAcceptEnquiryInputDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enquireAcceptDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enquireAcceptDocumentReturn" nillable="true" type="tns3:BE01JOutputDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="acceptDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="authentication" nillable="true" type="tns2:BE01JAuthenticationDTO" />
            <xsd:element name="systemDTO" nillable="true" type="tns2:BE01JSystemInfoDTO" />
            <xsd:element name="businessDTO" nillable="true" type="tns2:BE01JBusinessInfoDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.filing.be01.hdb.gov.sg">
      <xsd:complexType name="BE01JOutputDTO">
        <xsd:sequence>
          <xsd:element name="obsResultFlag" nillable="true" type="xsd:string" />
          <xsd:element name="obsErrorCode" nillable="true" type="xsd:string" />
          <xsd:element name="obsServerErrorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="businessOutput" nillable="true" type="tns3:BE01BusinessOutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01BusinessOutput">
        <xsd:sequence>
          <xsd:element name="resultFlg" type="xsd:boolean" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="customerOutputList" nillable="true" type="tns3:ArrayOfBE01CustomerOutput" />
          <xsd:element name="businessTransactionNumber" nillable="true" type="xsd:string" />
          <xsd:element name="businessRefNumber" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01CustomerOutput">
        <xsd:sequence>
          <xsd:element name="resultFlg" type="xsd:boolean" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="documentOutputList" nillable="true" type="tns3:ArrayOfBE01DocumentOutput" />
          <xsd:element name="customerIdFromSource" nillable="true" type="xsd:string" />
          <xsd:element name="identityNo" nillable="true" type="xsd:string" />
          <xsd:element name="identityType" nillable="true" type="xsd:string" />
          <xsd:element name="customerName" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01DocumentOutput">
        <xsd:sequence>
          <xsd:element name="resultFlg" type="xsd:boolean" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="imageOutputList" nillable="true" type="tns3:ArrayOfBE01ImageOutput" />
          <xsd:element name="docId" nillable="true" type="xsd:string" />
          <xsd:element name="docIdSub" nillable="true" type="xsd:string" />
          <xsd:element name="docStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="docEndDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01ImageOutput">
        <xsd:sequence>
          <xsd:element name="resultFlg" type="xsd:boolean" />
          <xsd:element name="cmDocumentId" nillable="true" type="xsd:string" />
          <xsd:element name="dwmsDocumentId" nillable="true" type="xsd:string" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="personOutputList" nillable="true" type="tns3:ArrayOfBE01PersonOutput" />
          <xsd:element name="numDocGroup" nillable="true" type="xsd:string" />
          <xsd:element name="numDocAccept" nillable="true" type="xsd:string" />
          <xsd:element name="numDocStatus" nillable="true" type="xsd:string" />
          <xsd:element name="acceptUserId" nillable="true" type="xsd:string" />
          <xsd:element name="tmeDocAccept" nillable="true" type="xsd:dateTime" />
          <xsd:element name="systemInfo" nillable="true" type="tns3:BE01JSystemOutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01PersonOutput">
        <xsd:sequence>
          <xsd:element name="resultFlg" type="xsd:boolean" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
          <xsd:element name="customerIdFromSource" nillable="true" type="xsd:string" />
          <xsd:element name="identityNo" nillable="true" type="xsd:string" />
          <xsd:element name="identityType" nillable="true" type="xsd:string" />
          <xsd:element name="customerName" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01PersonOutput">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01PersonOutput" nillable="true" type="tns3:BE01PersonOutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BE01JSystemOutput">
        <xsd:sequence>
          <xsd:element name="updateSystemId" nillable="true" type="xsd:string" />
          <xsd:element name="updateDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="updateTime" nillable="true" type="xsd:dateTime" />
          <xsd:element name="fileSystemId" nillable="true" type="xsd:string" />
          <xsd:element name="fileDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="verificationUserId" nillable="true" type="xsd:string" />
          <xsd:element name="completenessUserId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01ImageOutput">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01ImageOutput" nillable="true" type="tns3:BE01ImageOutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01DocumentOutput">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01DocumentOutput" nillable="true" type="tns3:BE01DocumentOutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBE01CustomerOutput">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BE01CustomerOutput" nillable="true" type="tns3:BE01CustomerOutput" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.enq.be01.hdb.gov.sg">
      <xsd:complexType name="BE01JAcceptEnquiryInputDTO">
        <xsd:sequence>
          <xsd:element name="cmDocumentId" nillable="true" type="xsd:string" />
          <xsd:element name="businessTransactionNumber" nillable="true" type="xsd:string" />
          <xsd:element name="businessRefNumber" nillable="true" type="xsd:string" />
          <xsd:element name="customerIdFromSource" nillable="true" type="xsd:string" />
          <xsd:element name="docId" nillable="true" type="xsd:string" />
          <xsd:element name="docIdSub" nillable="true" type="xsd:string" />
          <xsd:element name="docStartDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="docEndDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="identityNoSub" nillable="true" type="xsd:string" />
          <xsd:element name="customerIdSubFromSource" nillable="true" type="xsd:string" />
          <xsd:element name="docAcceptTime" nillable="true" type="xsd:dateTime" />
          <xsd:element name="acceptUserId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="enquireAcceptDocumentResponse">
    <wsdl:part name="parameters" element="impl:enquireAcceptDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="lockDocumentResponse">
    <wsdl:part name="parameters" element="impl:lockDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="acceptDocumentResponse">
    <wsdl:part name="parameters" element="impl:acceptDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="lockDocumentRequest">
    <wsdl:part name="parameters" element="impl:lockDocument" />
  </wsdl:message>
  <wsdl:message name="enquireAcceptDocumentRequest">
    <wsdl:part name="parameters" element="impl:enquireAcceptDocument" />
  </wsdl:message>
  <wsdl:message name="acceptDocumentRequest">
    <wsdl:part name="parameters" element="impl:acceptDocument" />
  </wsdl:message>
  <wsdl:portType name="BE01JAcceptDocService">
    <wsdl:operation name="acceptDocument">
      <wsdl:input name="acceptDocumentRequest" message="impl:acceptDocumentRequest" />
      <wsdl:output name="acceptDocumentResponse" message="impl:acceptDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="lockDocument">
      <wsdl:input name="lockDocumentRequest" message="impl:lockDocumentRequest" />
      <wsdl:output name="lockDocumentResponse" message="impl:lockDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="enquireAcceptDocument">
      <wsdl:input name="enquireAcceptDocumentRequest" message="impl:enquireAcceptDocumentRequest" />
      <wsdl:output name="enquireAcceptDocumentResponse" message="impl:enquireAcceptDocumentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BE01JAcceptDocSoapBinding" type="impl:BE01JAcceptDocService">
    <wsaw:UsingAddressing wsdl:required="false" />
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="acceptDocument">
      <wsdlsoap:operation soapAction="acceptDocument" />
      <wsdl:input name="acceptDocumentRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="acceptDocumentResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lockDocument">
      <wsdlsoap:operation soapAction="lockDocument" />
      <wsdl:input name="lockDocumentRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="lockDocumentResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enquireAcceptDocument">
      <wsdlsoap:operation soapAction="enquireAcceptDocument" />
      <wsdl:input name="enquireAcceptDocumentRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="enquireAcceptDocumentResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BE01JAcceptDocService">
    <wsdl:port name="BE01JAcceptDoc" binding="impl:BE01JAcceptDocSoapBinding">
      <wsdlsoap:address location="http://intranet-appu.hdb.gov.sg:80/webapp/BE01EBCstmrDocService/services/BE01JAcceptDoc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>